.header{
    display: flex;
    justify-content: space-between ;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 4px 4px 3px gray;
}

.logo{
    width: 100px;
    border-radius: 50px;
}
.nav-items > ul {
    display: flex;
    list-style-type: none;
    
}
.nav-items >ul>li{
    padding: 10px;
    margin: 10px;
   
}
.nav-items >ul>button{
    padding: 5px;
}
.search{
    padding: 10px;
}
.restaurant-card{
   
    width: 250px;
    padding: 7px;
    margin: 2px;
    transition: width 0.5s;
}
.restaurant-card:hover{
    border:1px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 1px gray;
    cursor: pointer ;
    width:300px;
}

.res-image{
    border-radius: 10px ;
    width:100%;

  
}
.restaurant-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.top-rated-res{
  margin : 10px;
  cursor: pointer;  
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}
.shimmer-card{
        width: 250px;
        height: 500px;;
        padding: 10px;
        margin: 10px;
        background-color: #f0f0f0;
        border-radius: 10px;
    }

    .login-btn{
        padding: 0 10px;
        margin:10px;
        background-color:orangered;
        border-radius: 50%;
        color:white;
        font-style: oblique;
        cursor: pointer;
    }
    .filter{
        display: flex;
    }